<h1>Bonjour, Merci de nous rejoindre !</h1>

<p>
    Pour finir ton inscription, il ne te reste plus qu'à cliquer sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon eamil</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A tout de suite !
</p>
