{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password.send' }}{% endblock %}

{% block body %}
    <p>
        {{ 'reset_password.check_email' |trans }}
        {{ 'expireat' |trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
        .
    </p>
{% endblock %}
