<form method="post" action="{{ path('app_user_role', {'id': user.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('role' ~ user.id) }}">
    <button class="btn btn-warning">Changer le rôle</button>
</form>
